$main-nav-color: #74b174;
$main-blue-color: #091d91;
$main-white-color: #fff;
$main-black-color: #000;

$dark-gray-color: #484848;

$btn-color: #238dad;

$icon-blue-color: #4463ec;
$icon-user-color: #f0aaf7;
$icon-bed-color: #683b17;
$icon-asterisk-color: #9fd1f3;
$icon-therm-color: #b83434;
$icon-iron-color: #7292b3;
$icon-desk-color: #2c750f;
$icon-cube-color: #b8ae24;
$icon-soap-color: #db9ef7;
